@font-face {
    src: url(/Users/ilyalevashov/Downloads/Raleway/static/Raleway-Regular.ttf);
    font-family: "Raleway";
}

@font-face {
    src: url(/Users/ilyalevashov/Downloads/Raleway/static/Raleway-Bold.ttf);
    font-family: "Raleway";
}
