@font-face {
    src: url("/fonts/Raleway-Regular.woff");
    font-family: "Raleway Reg";
}

@font-face {
    src: url('/fonts/Raleway-Bold.woff');
    font-family: "Raleway Bold";
}

@font-face {
    src: url('/fonts/Raleway-Medium.woff');
    font-family: "Raleway Med";
}
